/* for all screens larger than 768px wide */
@media (min-width: 768px) {
    main {
        margin: auto;
        max-width: 768px;
    }
}


body {
	background-color: #e8e8ee;
	font-family: helvetica;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

label, input, textarea {
	display: block;
	margin: 5px;
	width: 100%;
	left: 0;
	right: 0;
}

.namer {
	display: inline;
	width: 45%;
}